<header class="header">
    <a href="/" class="header__logo">Author's Page</a>
  
    <nav class="header__nav">
      <ul>
        <li>
          <a href="/" class="">Home</a>
        </li>
      </ul>
  
    </nav>
  
    <div class="header__button">
      <a href="/logout">
        Logout
      </a>
    </div>
  
  </header>
